<h1>Showing Article Details</h1>

<table>
  <tbody>
    <tr>
      <td><strong>Title</strong></td>
      <td>:</td>
      <td><%= @article.title %></td>
    </tr>
    <tr>
      <td colspan="3"><strong>Description</strong></td>
    </tr>
    <tr>
      <td></td>
      <td colspan="2"><%= @article.description %></td>
    </tr>
  </tbody>
</table>
<br/>
<table>
  <tbody>
    <tr>
      <td><%= link_to '[Edit]', edit_article_path(@article) %></td>
      <td><%= link_to '[Toss]', article_path(@article), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <td><%= link_to '[Back]', articles_path %></td>
    </tr>
  </tbody>
</table>
